.advice-page {
  display: flex;
  width: 100%;
  height: 100%;
}

.advice-page .image-container {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 80%;
}

.advice-page .image-container img.cloud {
  width: 100%;
  height: auto;
}

.advice-page .image-container img.doB {
  position: absolute;
  width: 15vw;
  bottom: 18vw;
  left: 20vw;
}

.advice-page .image-container .textBox {
  position: absolute;
  width: 26vw;
  height: 11vw;
  bottom: 28vw;
  left: 32vw;
  background-image: url("../assets/img/round_rect2.png");
  background-size: cover;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 4vw;
  color: #000;
  text-align: center;
  font-family: "jalnanGothic";
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 400;
}
