.diary-page {
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.diary-page .main-container {
  display: flex;
  width: 80%;
}

.diary-page .left-container {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.diary-page .lefttop-container {
  display: flex;
  width: 70%; /* 수정: 70%에서 100%로 변경 */
  height: 20%;
  justify-content: center;
  align-items: center;
  justify-content: end;
}

.diary-page .date-container {
  display: flex;
  width: 151px;
  height: 120px;
  padding: 10px;
  margin: 10px;
  color: #000;
  font-family: pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 1px #c2c2c2;
  background: #f8ffac;
  filter: blur(0.25px);
}

.diary-page .title-container {
  display: flex;
  flex-direction: column;
  color: #2d2d2d;
  font-family: pretendard;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.diary-page .diary-title-input::placeholder {
  color: #2d2d2d;
  font-family: pretendard;
  font-size: 32px;
  font-weight: 800;
  border: none;
  outline: none;
  background: none;
  width: 100%;
}

.diary-page .diary-title-input {
  font-family: pretendard;
  font-size: 32px;
  font-weight: 800;
  border: none;
  outline: none;
  background: none;
  width: 100%;
}

.diary-page .leftbottom-container {
  width: 80%;
  height: 70%;
  border: 1px solid #c2c2c2;
  box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
  filter: blur(0.25px);
  margin-left: 10%;
}

.diary-page .diary-content-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 18px;
  font-family: pretendard;
  resize: none;
  box-sizing: border-box;
}

.diary-page .right-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.diary-page .rightmemo-container {
  position: absolute;
  top: 20%;
  overflow: auto;
}

.diary-page .dob-container {
  position: relative;
}

.diary-page .dob-container .text,
.diary-page .dob-container .advice {
  position: absolute;
  top: -5rem;
  z-index: 1;
}

.diary-page .dob-container .advice {
  position: absolute;
  top: -1.5rem;
  left: 3rem;
  text-align: center;
  font-family: "JalnanGothic";
  background: pinks;
  font-size: 1.2rem;
}
