.login-page {
  background-color: #00c6ae;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: end;
}

.login-page .sketchbook-container {
  width: 100%;
  height: 75%;
  background-color: white;
  position: relative;
}

.login-page .service-text {
  color: #2d2d2d;
  font-family: "jalnanGothic";
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: 13vh;
  left: 15vh;
  /* top: 7.88rem;
  left: 8.88rem; */
}

.login-page .login-form {
  position: absolute;
  /* top: 18.56rem;
  left: 8.88rem; */
  top: 32vh;
  left: 15vh;
  display: flex;
  flex-direction: column;
}

.login-page .login-form input::placeholder {
  color: #c2c2c2;
}

.login-page .login-form input {
  margin-bottom: 0.75rem;
  width: 20.625rem;
  height: 2.75rem;
  padding-left: 1rem;
  flex-shrink: 0;
  border: 1px solid #dfdfdf;
  background: #fff;
  font-family: pretendard;
  color: #2d2d2d;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.login-page .loginBtn {
  margin-bottom: 0.75rem;
  width: 20.625rem;
  height: 3rem;
  flex-shrink: 0;
  border-radius: 0.9375rem;
  background: #2d2d2d;
  font-family: pretendard;
  color: #fff;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  z-index: 2;
}

.login-page .add-functions {
  display: flex;
  justify-content: flex-end;
  /* justify-content: space-between; */
  color: #000;
  font-family: pretendard;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  z-index: 2;
}

.login-page .add-functions div {
  cursor: pointer;
}

.login-page .svg-container {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.login-page .ring {
  position: absolute;
  top: -1.25rem;
  left: 9rem;
}

.login-page .speech-bubble {
  position: absolute;
  right: 52rem;
  bottom: 13rem;
  width: 9rem;
  height: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.login-page .speech-text {
  position: absolute;
  text-align: center;
  color: #000;
  font-family: "jalnan";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.login-page .calendar {
  position: absolute;
  right: 11rem;
  bottom: 16rem;
}

.login-page .cat,
.turtle,
.crow {
  position: absolute;
  z-index: 3;
}
.login-page .cat {
  right: 45rem;
  bottom: 2.79rem;
}

.login-page .turtle {
  right: 25rem;
  bottom: 0rem;
}

.login-page .crow {
  right: 7rem;
  bottom: 0rem;
}
